body {
  background-image: url("../image/minimalist-spiderman-3840x2160.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: antiquewhite;
}
.container{
  position: relative;
  display: inline-block;
}

.imagen_pets{
  position: absolute;
  z-index: 10;
  left: 1200px;
  top: 10px;
  width: 400px;
  height: auto;
  transition: transform 0.3s ease;
}
.imagen_pets:hover{
  transform: scale(1.1);
}
.imagen_pets
#menu_mypets{
  position: absolute;
  z-index: 15;
}
a{
  color: azure;
  text-decoration: underline;
  
}
a:hover{
  color: brown;
  text-decoration: underline;
}

label{
  display: block;
}

button{
  background-color: navajowhite;
  display: flex;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: rgba(177, 25, 5, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: hwb(0 47% 43%);
  margin-left: 40%;

}
button:hover{
  background: none;
}
h1{
  padding: 100px 225PX;
}
section{
  display: flex;
  flex-direction: column;
  width: 600px;
  margin-left: 20px;
}
h2{
  text-align: center;
}
#form{
  border: 2px solid;
  padding: 10px 25px 25px 25px;
}
#menu_mypets{
  padding-left: 1300px;
  font-size: x-large;
  font-style: italic;
  cursor: pointer;
}
#menu_mypets:hover{
  padding-left: 1300px;
  font-size: x-large;
  font-style: oblique;
  cursor: pointer;
  color:blanchedalmond
}

.pets_section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Diseño responsivo */
    gap: 15px; /* Espacio entre imágenes */
    padding: 15px;
}

.pets_section img{
    width: 100%;
    height: 500px; /* Altura fija para uniformidad */
    object-fit: cover; /* Ajusta la imagen sin deformarla */
    border-radius: 8px; /* Bordes redondeados */
    transition: transform 0.3s ease; /* Efecto suave */
    display: flex;
}
.pets_section img:hover{
    transform: scale(1.05); /* Zoom al pasar el cursor */
}

article{
  display: block;
}